.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  background: url('./imagess/Pastelitos.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(12, 0, 0, 0.1);
}

h1 {
  color: #040101;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  background-color: rgba(251, 185, 219, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Add this line */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 0;
  transition: all 0.3s ease;
}

button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: inherit;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s ease;
}

button:hover:before {
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4), 0 0 60px rgba(255, 255, 255, 0.2);
}

.add-order-btn {
  background-color: #25863b;
  color: rgb(255, 247, 247);
}

.add-order-btn:hover {
  background-color: #10c938;
}

.format-orders-btn {
  background-color: #ff6347;
  color: white;
  margin-bottom: 20px;
}

.format-orders-btn:hover {
  background-color: #e5533d;
}

.auth-btn {
  background-color: #4486ff;
  color: white;
}

.auth-btn:hover {
  background-color: #0056b3;
}

.logout-btn {
  background-color: #ff6347;
  color: white;
  margin-bottom: 20px;
}

.logout-btn:hover {
  background-color: #e5533d;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmed {
  background-color: #6ecd84;
  color: #021005;
}

.not-confirmed {
  background-color: #f77681;
  color: #080707;
}

.confirm-btn {
  background-color: #4486ff;
  color: white;
}

.confirm-btn:hover {
  background-color: #0056b3;
}

.confirm-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-btn {
  background-color: #c3303f;
  color: white;
}

.delete-btn:hover {
  background-color: #f9041c;
}

li > div {
  display: flex;
  gap: 10px;
}

.view-clients-btn {
  background-color: #4CAF50;
  color: white;
  margin-bottom: 20px;
}

.view-clients-btn:hover {
  background-color: #45a049;
}

.auth-btn {
  background-color: #4486ff;
  color: white;
  margin-bottom: 20px;
}

.auth-btn:hover {
  background-color: #0056b3;
}

.admin-controls {
  margin-top: 20px;
  background-color: rgba(251, 185, 219, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-price-btn, .add-flavor-btn, .delete-flavor-btn {
  background-color: #4CAF50;
  color: white;
  margin: 5px;
}

.update-price-btn:hover, .add-flavor-btn:hover, .delete-flavor-btn:hover {
  background-color: #45a049;
}

@media (min-width: 600px) {
  li {
    flex-direction: row;
    justify-content: space-between; /* Add this line */
    align-items: center; /* Add this line */
  }

  .form-group {
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
  }

  label {
    margin-right: 10px; /* Add this line */
    margin-bottom: 0; /* Add this line */
    width: 40%; /* Adjust this percentage as needed */
  }

  input, select {
    width: 60%; /* Adjust this percentage as needed */
  }
}

@media (max-width: 599px) {
  .App {
    margin: 10px;
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  button {
    padding: 5px 10px;
    font-size: 14px;
  }

  input, select {
    width: calc(100% - 12px);
    padding: 5px;
  }

  li {
    margin: 5px 0;
    padding: 10px;
  }
}
